@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.main-container {
    flex-grow: 1;
}

.logo-header {
    display: block;
    margin-top: -20px;
    /*(20px)*/
    margin-left: 60px;
    margin-bottom: 30px;
}

.main-header {
    background-color: #FFE17F;
    color: #000000;
    margin: 0 auto;
    width: 1160px;
    margin-top: 40px;
}

.navigation-main {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1040px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.new-products {
    margin: 0 auto;
    width: 1160px;
    background-image: linear-gradient(#FFE17F 25%, #FFFFFF 25%);
}

.catalog-header {
    background-color: #FFE17F;
    color: #000000;
}

.yellow {
    background-color: #FFE17F;
    color: #000;
    width: 10px;
}

.slider-image {
    max-width: 100%;
    height: auto;
}

.slider-pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.slider-pagination-item:not(:last-child) {
    margin-right: 20px;
}

.slider-pagination-button {
    width: 12px;
    height: 12px;
    padding: 12px;
}

.button-and-pagination {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.navigation-main {
    list-style-type: none;
}

.navigation-catalog .navigation-link {
    font-family: Raleway, sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navigation-catalog {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 1040px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.navigation-catalog .list-item:first-child {
    margin-right: auto;
}

.new-product-card h3 {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 29px;
}

.new-products-description {
    margin: 0;
    margin-bottom: 51px;
}

.new-product-card {
    display: flex;
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
}

.new-product-table {
    display: flex;
}



.container-card {
    width: 560px;
    align-self: flex-start;
}

.container-title {
    width: 560px;
    margin-top: 120px;
}

.button-more {
    color: #000000;
    text-align: center;
    font-family: Raleway, sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 220px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
}

.new-product-list {
    margin: 0;
    padding: 0;
}

.new-product-list:not(:last-child) {
    margin-right: 20px;
}

.new-product-list dd {
    font-size: 36px;
    margin: 0;
}

.new-product-list dt {
    color: #444444;
    margin: 0;
}

.main-catalog-list {
    font-family: Raleway, sans-serif;
    letter-spacing: -0.02em;
    line-height: 24px;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 1160px;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.main-catalog-item {
    width: 160px;
}

.catalog-item-link {
    color: #000000;
    text-decoration: none;
}

.advantages {
    background-color: #F0F0F0;
}

.advantages-description {
    margin: 0;
    padding: 0;
    margin-bottom: 145px;
    width: 452px;
}

.tabs {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    margin-bottom: 70px;
}

.tabs_items {
    width: 280px;
    margin-right: 116px;
    display: flex;
    flex-direction: column;
}

.tabs_item_button {
    display: block;
}

.tabs_item_button:first-child {
    margin-top: 64px;
    margin-bottom: 35px;
}

.tabs_item_button:nth-child(2) {
    margin-bottom: 35px;
}

.advantages-title {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 72px;
    margin-bottom: 34px;
}

.delivery {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0 auto;
    width: 1160px;
    margin-bottom: 70px;

}

.delivery-link {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 40px;
    background-color: #F0F0F0;
}

.about_and_contacts {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-top: 40px;
}

.about {
    width: 520px;
}

.contacts {
    width: 532px;
}

.about-title,
.contacts-title {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.about-description,
.contacts-description {
    color: #444444;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.address-name {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.contacts h3 {
    color: #444444;
    font-weight: 700;
    font-size: 24px;
}

.contacts-address,
.contacts-working-hours-text {
    color: #444444;
    font-style: normal;
    margin: 0;
}

.contacts-working-hours-text:last-of-type {
    margin-bottom: 30px;
}

.contacts-working-hours {
    margin: 0;
    margin-bottom: 15px;
}

.contacts-phone {
    color: #444444;
    display: block;
    margin-bottom: 30px;
}

.about-list {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.about-item b {
    margin-left: 37.5px;
}

.about-item:not(:last-child) {
    margin-bottom: 19px;
}

.about-link,
.contacts-link {
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    width: 259px;
}

.newsletter {
    background-color: #F0F0F0;
}

.newsletter-container {
    margin: 0 auto;
    width: 1160px;
    padding-bottom: 56px;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
}

.newsletter-title {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 350px;
    margin: 0;
    padding: 0;
    margin-top: 64px;
    margin-bottom: 144px;
}

.newsletter-text {
    color: #444444;
    width: 560px;
    margin: 0;
    margin-top: 74px;
    margin-bottom: 144px;
}

.page-footer {
    background-color: #444444;
    color: #FFFFFF;
}

.footer-contacts {
    width: 240px;
    margin-right: 120px;
}

.contacts-address-text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.footer-navigation {
    width: 445px;
    margin-right: 185px;
}

.page-footer a {
    color: #FFFFFF;
}

.footer-container {
    margin: 0 auto;
    width: 1160px;
}

.footer-wrapper {
    display: flex;
    margin-bottom: 61px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.navigation-catalog-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 62px;
}

.contacts-phone-footer {
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 63px;
}

.phone {
    width: 175px;
}

.main-inner {
    margin: 0 auto;
    width: 1160px;
}

.header-inner {
    width: 1080px;
    margin-left: 60px;
    margin-bottom: 35px;
}

.header-inner h1 {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 16px;

}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 36px;
}

.sort-filter {
    display: flex;
    padding: 20px 40px;
}

.sorting-title {
    margin: 0;
    padding: 0;
    margin-right: 206px;
}

.select-control {
    margin-right: 206px;
}

.button-sort-down,
.button-sort-up {
    width: 30px;
    height: 30px;
    background-color: #000000;
}

.catalog-products {
    background-color: #F0F0F0;
}

.catalog-products-container {
    margin: 0 auto;
    width: 1160px;
    display: flex;
}

.container-catalog-filter {
    width: 200px;
    margin-right: 60px;
    margin-left: 60px;
}

.container-sort {
    width: 840px;
}

.catalog-products h2 {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
}

.product-card-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-link {
    color: #000000;
    text-decoration: none;
}

.product-item span {
    line-height: 21px;
    text-align: right;
}

.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button-show-more {
    margin-bottom: 44px;
}

.white-background {
    background-color: #FFFFFF;
    padding-bottom: 78px;
}

.pagination-link {
    color: #444444;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 10px 16.5px;
}

.pagination-prev,
.pagination-next {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    padding: 25px;
}

.pagination-list:first-child {
    margin-right: auto;
}

.pagination-list:last-child {
    margin-left: auto;
}

.pagination-link:not(:first-child, :last-child) {
    width: 40px;
    height: 40px;
}

.pagination {
    list-style-type: none;
    background-color: #EBEBEB;
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    width: 760px;
}

.logo-footer {
    display: block;
    margin-top: 62px;
    width: 145px;
    margin-bottom: 35px;
}



.footer-social-item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}